:root {
    --primary-color: #326e51;
}

.full-width .ubermenu-nav,
.container,
.row {
    max-width: 1310px
}

.row.row-collapse {
    max-width: 1280px
}

.row.row-small {
    max-width: 1302.5px
}

.row.row-large {
    max-width: 1340px
}

.header-main {
    height: 100px
}

#logo img {
    max-height: 100px
}

#logo {
    width: 200px;
}

#logo img {
    padding: 7px 0;
}

.header-bottom {
    min-height: 39px
}

.header-top {
    min-height: 29px
}

.transparent .header-main {
    height: 30px
}

.transparent #logo img {
    max-height: 30px
}

.has-transparent+.page-title:first-of-type,
.has-transparent+#main>.page-title,
.has-transparent+#main>div>.page-title,
.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
    padding-top: 80px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 45px!important
}

.stuck #logo img {
    max-height: 45px!important
}

.header-bottom {
    background-color: #326e51
}

.header-main .nav>li>a {
    line-height: 16px
}

.stuck .header-main .nav>li>a {
    line-height: 5px
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }
    #logo img {
        max-height: 70px
    }
}

.header-top {
    background-color: #f9f9f9!important;
}
/* Color */

.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline>li.active>a,
.nav-outline>li.active>a,
.cart-icon strong,
[data-color='primary'],
.is-outline.primary {
    color: #326e51;
}
/* Color !important */

[data-text-color="primary"] {
    color: #326e51!important;
}
/* Background Color */

[data-text-bg="primary"] {
    background-color: #326e51;
}
/* Background */

.scroll-to-bullets a,
.featured-title,
.label-new.menu-item>a:after,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold>li>a:hover,
.nav-dropdown-bold.dark .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type='submit']:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box>li>a:hover,
.nav-box>li.active>a,
.nav-pills>li.active>a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type='submit'].primary,
input[type='submit'].primary,
input[type='reset'].button,
input[type='button'].primary,
.badge-inner {
    background-color: #326e51;
}
/* Border */

.nav-vertical.nav-tabs>li.active>a,
.scroll-to-bullets a.active,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #326e51
}

.nav-tabs>li.active>a {
    border-top-color: #326e51
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #326e51
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #326e51
}
/* Fill */

.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #326e51;
}
/* Background Color */

[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button,
.current .breadcrumb-step {
    background-color: #326e51;
}

[data-text-bg="secondary"] {
    background-color: #326e51;
}
/* Color */

.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #326e51
}
/* Color !important */

[data-text-color="secondary"] {
    color: #326e51!important;
}
/* Border */

.secondary.is-outline:hover {
    border-color: #326e51
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: "Roboto", sans-serif
}

body {
    font-weight: 0
}

body {
    color: #303030
}

.nav>li>a {
    font-family: "Roboto", sans-serif;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-family: "Roboto", sans-serif;
}

.nav>li>a {
    font-weight: 500;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    color: #0a0a0a;
}

.alt-font {
    font-family: "Dancing Script", sans-serif;
}

.alt-font {
    font-weight: 400!important;
}

.products.has-equal-box-heights .box-image {
    padding-top: 100%;
}

@media screen and (min-width: 550px) {
    .products .box-vertical .box-image {
        min-width: 247px!important;
        width: 247px!important;
    }
}

.absolute-footer,
html {
    background-color: #2e2e2e
}

.page-title-small+main .product-container>.row {
    padding-top: 0;
}

.label-new.menu-item>a:after {
    content: "New";
}

.label-hot.menu-item>a:after {
    content: "Hot";
}

.label-sale.menu-item>a:after {
    content: "Sale";
}

.label-popular.menu-item>a:after {
    content: "Popular";
}
.header-bottom .nav>li>a {
    color: #fff
}
img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }